@tailwind base;
@tailwind components;
@tailwind utilities;

button.iekbcc0[data-testid="rk-account-button"] {
  background: rgb(63, 63, 63) !important;
  border-radius: 10px !important;
  color: white !important;
  opacity: 0.5 !important;
}
button.iekbcc0[data-testid="rk-connect-button"] {
  background: rgb(63, 63, 63) !important;
  opacity: 0.5 !important;
}

/* div.ju367v8u{
  display: none !important;
} */
@layer base {
  body {
    @apply dark:bg-slate-800 bg-gray-50;
  }
}

.w3a-modal__header .w3a-header__button {
  display: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
